.about-content
	.container
		.about-content__title
			span How it work
			span |
			span our process to creare awesome project
		.about-content__description
			.col-lg-6.com-md-6.column
				.about-content__description-num 01
				.about-content__description-desc
					.about-content__description-title Collect ideas
					.about-content__description-text
							span
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								| Qui dolor possimus, architecto, rem inventore in. Amet 
								| deserunt quasi praesentium modi explicabo cum atque ipsa eligendi 
								ul
									li 
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
			.col-lg-6.com-md-6.column
				.about-content__description-num 02
				.about-content__description-desc
					.about-content__description-title Data Analysis
					.about-content__description-text
							span
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								| Qui dolor possimus, architecto, rem inventore in. Amet 
								| deserunt quasi praesentium modi explicabo cum atque ipsa eligendi 
								ul
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
			.col-lg-6.com-md-6.column
				.about-content__description-num 03
				.about-content__description-desc
					.about-content__description-title Magic Touch
					.about-content__description-text
							span
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								| Qui dolor possimus, architecto, rem inventore in. Amet 
								| deserunt quasi praesentium modi explicabo cum atque ipsa eligendi 
								ul
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
			.col-lg-6.com-md-6.column
				.about-content__description-num 04
				.about-content__description-desc
					.about-content__description-title Finalize Product
					.about-content__description-text
							span
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								| Qui dolor possimus, architecto, rem inventore in. Amet 
								| deserunt quasi praesentium modi explicabo cum atque ipsa eligendi 
								ul
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
									li
										|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ad.
.about-wordpress
	.container
		.about-wordpress__element
			.about-wordpress__title
				span Latest Projects
				span |
				span our awesome works
			.about-wordpress__content.about-wordpress-el
				.about-wordpress__content-left
					img.img-responsive(src="./dev/img/about_content/computer.png", alt="")
				.about-wordpress__content-right
					.about-wordpress__content-title
						| Wiretree Responsive Wordpress Theme
					.about-wordpress__content-description
						| Duis molis, est non commodo luctus, nisi erat potticor ligula,
						| eget lalcnina odio sem nec edit. Maecenas faucbidas molis
						| intensum, Maecenas faucibus mollis intendum. 
				button.about-wordpress__content-btn.btn.btn-danger See Projects
			.about-wordpress__content.about-wordpress-el
				.about-wordpress__content-left
					img.img-responsive(src="./dev/img/about_content/computer.png", alt="")
				.about-wordpress__content-right
					.about-wordpress__content-title
						| Wiretree Responsive Wordpress Theme
					.about-wordpress__content-description
						| Duis molis, est non commodo luctus, nisi erat potticor ligula,
						| eget lalcnina odio sem nec edit. Maecenas faucbidas molis
						| intensum, Maecenas faucibus mollis intendum. 
				button.about-wordpress__content-btn.btn.btn-danger See Projects more
			.about-wordpress__content.about-wordpress-el
				.about-wordpress__content-left
					img.img-responsive(src="./dev/img/about_content/computer.png", alt="")
				.about-wordpress__content-right
					.about-wordpress__content-title
						| Wiretree Responsive Wordpress Theme
					.about-wordpress__content-description
						| Duis molis, est non commodo luctus, nisi erat potticor ligula,
						| eget lalcnina odio sem nec edit. Maecenas faucbidas molis
						| intensum, Maecenas faucibus mollis intendum. 
				button.about-wordpress__content-btn.btn.btn-danger See Projects and more
			.about-wordpress__content.about-wordpress-el
				.about-wordpress__content-left
					img.img-responsive(src="./dev/img/about_content/computer.png", alt="")
				.about-wordpress__content-right
					.about-wordpress__content-title
						| Wiretree Responsive Wordpress Theme
					.about-wordpress__content-description
						| Duis molis, est non commodo luctus, nisi erat potticor ligula,
						| eget lalcnina odio sem nec edit. Maecenas faucbidas molis
						| intensum, Maecenas faucibus mollis intendum. 
				button.about-wordpress__content-btn.btn.btn-danger See Projects ...
		.about-wordpress__content-control