.content
	.container
		.content__title
			span Creativity
			| is important for us
		.content__text
			| Nullam id dolor id nubh ultricies vehicula ut id edit. 
			| Maecenas sed diam eget risus varius blandit sit amet
			| non manga. Duis mollis, est non commodo luctus, nisi erat porttitor 
			| ligula eget lacinia odio nec edit.
		.content__icon
			.row
				.col-md-3
					.content__icon-el
						.content__icon-icon.design
					.content__icon-text Interface design
				.col-md-3
					.content__icon-el
						.content__icon-icon.motion
					.content__icon-text Motion design
				.col-md-3
					.content__icon-el
						.content__icon-icon.photography
					.content__icon-text Photography design
				.col-md-3
					.content__icon-el
						.content__icon-icon.illustration
					.content__icon-text Illustration
.galery
	.container
		.galery__title
			a(href="#")
				span Latest Projects
			span |
			a(href="#")
				span making stuff is awesome
		.galery__list.clearfix
			ul
				li
					a(href="#all") All
				li
					a(href="#web-design") Web Design
				li
					a(href="#graphics") Graphics
				li
					a(href="#video") Video
				li
					a(href="#illustration") Illustration
				li
					a(href="#audio") Audio
		.galery__images.clearfix
			.row
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")
				.col-lg-3.col-md-3.col-xs-3
					a.thumb
						img.img-responsive(src="http://lorempixel.com/320/250", alt="cat1")





