footer.footer
	.container
		.footer__top.clearfix
			ul
				li.col-md-3
					.footer__top-title Get in touch
					.footer__top-text
						span
							| Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermemtum, porta sem malesuada magna.
						span
							| Moonshine Street №: 14/05
							| Light city, Jupiter
							| 02347 643 47 48
							| support@longwave.com
				li.col-md-3.col-lg-3
					.footer__top-title Twitter
					.footer__top-text
						span
							| Aenean lachina bibendum nulls sed leo possueeror erat a ante vanenatis dapibus posuere bvelit adiquet
						span
							| Donec ullamcopper metus auctor frignila. Nullam quis risus eget.
						span
							| Vesibutum id ligula porta euismod semper. Maecenas faucibus molis.
				li.col-md-3
					.footer__top-title Popular posts
					.footer__top-text
						span
							| Vivamus sagitis lacus vel augue laoreet rutruum dolor auctor. 14 Nov,2012
						span 
							| Sceleriscue nisl consectetur et. 22 May, 2014
						span 
							| Pellenntesue orname sem lachinia quam venenatis vestibutum, 15 July, 2012
				li.col-md-3
					.footer__top-title about us
					.footer__top-text
						span
							|  Aenean lachina bibendum nulls sed leo possueeror erat a ante vanenatis dapibus posuere bvelit adiquet
						span
							|  Aenean lachina bibendum nulls sed leo possueeror erat a ante vanenatis dapibus posuere bvelit adiquet
	.footer__bottom
		.container
			span 2013 Marble. All rights reserved. Theme by elemis.
			