.header
	.header__top
		.container
			.header__top-left
				span Moose
			.header__top-right
				.header__top-phone
					span.phone
					span 05359547454
				.header__top-mail
					span.mail
					span email@moose.com
	.header__bottom
		nav.navbar
			.container
				.navbar-header
					button.navbar-toggle(data-toggle='collapse', data-target='#menu')
						span.sr-only Меню
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#menu.navbar__menu.collapse.navbar-collapse
					ul.navbar-left
						li
							a(href="./") Home
						li
							a(href="#portfolio") Portfolio
						li
							a(href="./about.html") About
						li
							a(href="#service") Service
						li
							a(href="#journal") Journal
						li
							a(href="#features") Features
						li
							a(href="#contact") contact
					.navbar__icons.navbar-right
						ul
							li
								a(href="#rss")
									.border-icon
										.rss
							li
								a(href="#facebook")
									.border-icon
										.facebook
							li
								a(href="#twitter")
									.border-icon
										.twitter
							li
								a(href="#dribble")
									.border-icon
										.dribble
							li
								a(href="#pinterest")
									.border-icon
										.pinterest
.headerBG
	.container
		.headerBG__text Moose brings awesomeness
		.headerBG__text A responsive template with clean and professional design
		button.btn.btn-danger See Project

