.content-slider
	.container
		.content-slider__title 
			| Our Latest Blog
		.content-slider__text
			| Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
			|	Cum sociis natouque penatibus et magnis dis partuentient montes,
			| nascetur ridiculous mus. Cras justo odio, dabipus facilis egestas eget quam.
		.content-slider__begin
			ul
				li.content-slider__begin-el
					.content-slider__begin-img
						img.img-responsive(src="./dev/img/slider/slide1.jpg", alt="")
					.content-slider__begin-description
						.content-slider__begin-title
							| TORTOR ULLAMCORPER FRIGNILLA EUISMOD
						.content-slider__begin-desc
							span 21 May 2013
							span
							span Macro, Photography
				li.content-slider__begin-el
					.content-slider__begin-img
						img.img-responsive(src="./dev/img/slider/slide2.jpg", alt="")
					.content-slider__begin-description
						.content-slider__begin-title
							| TORTOR ULLAMCORPER FRIGNILLA EUISMOD
						.content-slider__begin-desc
							span 21 May 2013
							span
							span Macro, Photography
				li.content-slider__begin-el
					.content-slider__begin-img
						img.img-responsive(src="./dev/img/slider/slide3.jpg", alt="")
					.content-slider__begin-description
						.content-slider__begin-title
							| TORTOR ULLAMCORPER FRIGNILLA EUISMOD
						.content-slider__begin-desc
							span 21 May 2013
							span
							span Macro, Photography
				li.content-slider__begin-el
					.content-slider__begin-img
						img.img-responsive(src="./dev/img/slider/slide4.jpg", alt="")
					.content-slider__begin-description
						.content-slider__begin-title
						| TORTOR ULLAMCORPER FRIGNILLA EUISMOD
						.content-slider__begin-desc
							span 21 May 2013
							span
							span Macro, Photography
			.content-slider__begin-control

